<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
  
    <!-- Product Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Product </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
  
    <!-- Extra Column -->
    <ng-container matColumnDef="subtitle">
      <th mat-header-cell *matHeaderCellDef> Extra </th>
      <td mat-cell *matCellDef="let element"> {{element.subtitle}} </td>
      <td mat-footer-cell *matFooterCellDef> Total</td>
    </ng-container>
  
    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <button class="button is-danger is-light" (click)="removeSelectedRows()">Remove</button>
  <button id="btn-order" class="button is-info" (click)="submitOrder()">Order</button>
  <div *ngIf="error" class="notification is-danger">{{error}}</div>