 <!-- <div class="div-table">
    <table>
            <thead>
                <th>Item Type</th>
                <th>Producer</th>
              
                <th>Inventory No.</th>
                <th>User</th>
            
                <th>Status</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{item.itemType.type}}</td>
                    <td>{{item.producer}}</td>
                   
                    <td>{{item.inventoryNumber}}</td>
                    <td>{{item.user.companyId}}</td>
                 
                    <td>{{item.state.type}}</td>
                </tr>
            </tbody>
    </table>
</div>  -->

<!-- <div class ="chart"> 
    <canvas id="barChart"></canvas>
</div> -->
<div id="chartContainer" class="bar-chart"></div>
<div class ="chart"> 
    <canvas id="gogoasaMea"></canvas>
</div>

