<div class="category-content">
    <div>
        <p class="category-title">Monitoare</p>
        <hr class="category-hr">
        <mat-card class="example-card">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Monitor</mat-card-title>
            <mat-card-subtitle>Dell</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://s12emagst.akamaized.net/products/4455/4454838/images/res_61fb6a6314b4dea2262d4a3114c52ff1_full.jpg" alt="Photo of Monitor Dell">
            <mat-card-content>
            <p>
                Monitor LED Dell, 24", Full HD, DisplayPort, HDMI, Negru, U2415
            </p>
            </mat-card-content>
            <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image2"></div>
            <mat-card-title>Monitor</mat-card-title>
            <mat-card-subtitle>Lenovo</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://s12emagst.akamaized.net/products/17587/17586859/images/res_87cb846fc995aee1846cef99837be405_full.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>
                Monitor LED VA Lenovo 21.5", Full HD, Freesync, HDMI, Negru, L22e-20
                 
            </p>
            </mat-card-content>
            <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image2"></div>
            <mat-card-title>Monitor</mat-card-title>
            <mat-card-subtitle>Lenovo</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://s12emagst.akamaized.net/products/17587/17586859/images/res_87cb846fc995aee1846cef99837be405_full.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>
                Monitor LED VA Lenovo 21.5", Full HD, Freesync, HDMI, Negru, L22e-20
                 
            </p>
            </mat-card-content>
            <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <p class="category-title">Laptopuri</p>
        <hr class="category-hr">
        <mat-card class="example-card">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Laptop</mat-card-title>
            <mat-card-subtitle>Dell</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://lcdn.altex.ro/resize/media/catalog/product/X/P/2bd48d28d1c32adea0e55139a4e6434a/XPS-7590_d7ff8a02_1f683830.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>
                Laptop DELL XPS 15 7590, Intel Core i7-9750H pana la 4.5GHz, 15.6" 4K Touch, 16GB, SSD 1TB, NVIDIA GeForce GTX 1650 4GB, Windows 10 Pro, argintiu
            </p>
            </mat-card-content>
            <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image2"></div>
            <mat-card-title>Laptop</mat-card-title>
            <mat-card-subtitle>Lenovo</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://s12emagst.akamaized.net/products/15762/15761246/images/res_c11a5640f545ac4f3b6829f524bd4b71_full.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>
                Laptop Lenovo IdeaPad 330-15IKB cu procesor Intel® Core™ i7-8550U pana la 4.00 GHz, 15.6", Full HD, 8GB, 1TB, DVD-RW, NVIDIA GeForce MX150 4GB, Free DOS, Grey
            </p>
            </mat-card-content>
            <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image2"></div>
            <mat-card-title>Laptop</mat-card-title>
            <mat-card-subtitle>Lenovo</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://s12emagst.akamaized.net/products/15762/15761246/images/res_c11a5640f545ac4f3b6829f524bd4b71_full.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>
                Laptop Lenovo IdeaPad 330-15IKB cu procesor Intel® Core™ i7-8550U pana la 4.00 GHz, 15.6", Full HD, 8GB, 1TB, DVD-RW, NVIDIA GeForce MX150 4GB, Free DOS, Grey
            </p>
            </mat-card-content>
            <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
            </mat-card-actions>
        </mat-card>
    </div>
</div>
