
.button{
  margin-left: -7px;
}

.modalContent {
  /* opacity:0.8; */
  background-color:rgba(37, 37, 37,0.5);
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1;
}
 
/* Modal Content */
.modalAddUser {
  background-color: #fefefe;
  margin: auto;
  width: 50%;
  margin-top: 10%;
  height:auto;
  max-height: 90%;
  overflow: auto;
}

.userButtons{
  text-align:right; 
  width:100%; 
  padding:1%;
}
 
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
 
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 
  
  minmax(3.5%, 3.2fr)      
  minmax(8.5%, 3.2fr)         
  minmax(8.5%, 3.2fr)             
  minmax(8.5%, 5.2fr)                  
  minmax(10.5%, 3.2fr)                       
  minmax(6.5%, 5.67fr);
}

thead,
tbody,
tr {
  display: contents;
}

th {
  padding: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: sticky;
  top: 0;
  background: rgb(110, 186, 236);;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

tr:nth-child(even) td {
  background: #f8f6ff;
}

tr {
    height: 60px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.button-position {
    margin-top: 7px;
    margin-left: 15px;
    border-style: solid;
    /* background-color: lightgreen; */
    background-color: #7bc144;
    border-radius: 25px;
}
.dropDown {
  display: table;
  width: 80px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.datalist {
    height: 20px;
    max-height: 500px;
    overflow-y: auto;
    display: block;
}

.userButtons{
  text-align:right; 
  width:100%; 
  padding:1%;
}

.tableScroll{
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}