.button{
    display: inline-block;
    height: 20px;
    width: 30px;
    font-size: 10px;
    background-color: rgb(110, 186, 236);
    text-align: right;
}

.element{
    display: inline-block;
    height: 20px;
    width: 100%;
    font-size: 12px;
}

.remove-button{
    width: 50px;
    background-color: rgb(255, 128, 128);
}