<div class="modalContent" *ngIf="display">
    <!-- Modal content -->
    <!-- <div class="modalAddU">
        <app-add-user>
        </app-add-user>
    </div> -->
</div>

<!-- <div class="userButtons">
    <button class="button" (click)="openAddUser()">Add User</button>
</div> -->

<div class="tableScroll">

    <table>
        <thead>
            <!-- <th style="text-align: center"><a class="button" (click)="onClickOrder()">No.</a></th> -->
            <!-- <th>RoomId

            </th> -->
            <th>Name

            </th>
            <th>Capacity

            </th>
            <th>Floor

            </th>

            <!-- <th>Status
                <select class="dropDown" [(ngModel)]="selectedStatus" (change)="filterUsers()">
                    <option selected="selected" [ngValue]="None"></option>
                    <option *ngFor="let state of statusList" [ngValue]="state">{{state.type}}</option>
                </select>
            </th> -->
            <th></th>
        <tbody>

            <tr app-room-row *ngFor="let room of rooms" [room]="room" style="overflow: auto;"></tr>

        </tbody>
    </table>
</div>