.example-card {
    max-width: 400px;
    display: inline-block;
    margin-left: 20px;
  }
  
.example-header-image {
  background-size: cover;
}

.category-hr{
    background-color: blue;
}

.category-title{
  margin: 20px;
  font-size: x-large;
}